<div class="home-wrapper">
  <div class="row slider-wrapper">
    <div class="home-slider">
    	<ul>
    		<li>
          <img src="./images/mech1.jpg" class="slide-img"><span class="slide-title">Experienced. Integrity. High Quality</span>
          <button class="contact-btn btn btn-default" ng-click="">CALL NOW</button>
        </li>
        <li>
          <img src="./images/mech2.jpg" class="slide-img"><span class="slide-title">Service with Character</span>
          <button class="contact-btn btn btn-default" ng-click="">CALL NOW</button>
        </li>
    	</ul>
    </div>
  </div>
  <div class="info-overlay">
    <div class="title-wrapper">
      <h3 class="info-title"><i class="material-icons">alarm</i> WORKING HOURS</h3>
    </div>
    <ul class="working-hours">
      <li>Monday-Friday : 8AM - 5PM</li>
      <li>Monday-Friday : 10AM - 3PM</li>
      <li>Sunday : Closed</li>
    </ul>
    <div class="title-wrapper">
      <h3 class="info-title"><i class="material-icons">place</i> LOCATION</h3>
    </div>
    <p class="location">1234 S 1st St <br/>Racine, WI 55555</p>
    <button class="directions-btn btn btn-default" ng-click="">GET DIRECTIONS</button>
    <h3 class="contact-number"><i class="material-icons">local_phone</i> 888-888-8888</h3>
  </div>
</div>
